.horizontal-slider {
    width: 100%;
    max-width: 500px;
    height: 11vh;
}

.slider-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #3b82f6;
    color: white;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 44%);
    top: 5px;
    width: 35px;
    height: 35px;
    outline: none;
    text-align: center;
    line-height: 32px;
}

.multi-slider-track, .slider-track {
    position: relative;
    background: #ddd;
    top: 20px;
    height: 5px;
    border-radius: 5px;
}

.multi-slider-track-1, .slider-track-0 {
    background: rgb(6 182 212);
}