.App {
  text-align: center;
}

.App-header {
  background-color: #a5c4f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.staff-container {
  display: flex;
  justify-content: center;
}

#staff {
  overflow-x: scroll !important;
  padding: 15px;
  max-width: 800px;
  height: 130px !important;
}
